<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header class="header">
    <h2><a href="/">Frogslist</a></h2>
    <%if logged_in?%>
      <p><a href="/user/<%=current_user.id%>"><%=current_user.name%></a></p>
      <p><a href="/items/new">Post a New Item</a></p>
      <p><a href="/logout">Sign Out</a></p>
    <%else%>
      <p><a href="/login">Log-in or Sign-up</a></p>
    <%end%>
  </header>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
