<h1> Sign up </h1>
<form method="post" action="/signup">
  <div>
    <input type="email" name="user[email]" placeholder="you@example.com" />
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="pa$$w0rd" />
  </div>
  <div>
    <input type="submit" value="signup" />
  </div>
</form>
